@font-face {
    font-family: 'icomoon';
    src:  url('https://i.icomoon.io/public/temp/9577037135/UntitledProject/icomoon.eot?t38vmq');
    src:  url('https://i.icomoon.io/public/temp/9577037135/UntitledProject/icomoon.eot?t38vmq#iefix') format('embedded-opentype'),
      url('https://i.icomoon.io/public/temp/9577037135/UntitledProject/icomoon.ttf?t38vmq') format('truetype'),
      url('https://i.icomoon.io/public/temp/9577037135/UntitledProject/icomoon.woff?t38vmq') format('woff'),
      url('https://i.icomoon.io/public/temp/9577037135/UntitledProject/icomoon.svg?t38vmq#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-face:before {
    content: "\ea91";
  }
  .icon-insta:before {
    content: "\ea92";
  }
  .icon-git:before {
    content: "\eab0";
  }