
/* main classes */
.color-white {
	color: white;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.dis-flex {
    display: flex;
}
.dis-inline-block {
    display: inline-block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clearfix {
    clear: both;
    
}
.flex-parent {
    display: flex;
    
  }
  .flex-child {
    flex: 1;
    justify-content: baseline;
  }
/* main classes end */
/* Start navbar  */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 10px;
	font-family: "Roboto Cn", sans-serif;
}

a{
	text-decoration: none;
	color: #eee;
}
.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1.6rem;
}

.brand {
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .8s forwards;
	transition: 1.4s;
}
.brand a {
	transition: 1.4s;
}
.brand a:hover{
	color: crimson;
	transition: 1.4s;
}
.brand span{
	color: crimson;
}
nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .8s forwards;
}
nav ul li a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

nav ul li a:last-child{
	margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .8s;
}

nav ul li a::before{
	top: 0;
	transform-origin: left;
}

nav ul li a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){
	.icon-face {
		animation: slideIn .8s forwards;
		transform: translateX(-100rem);
		transition: 1.4s;
	}
	.icon-insta {
		animation: slideIn 1.1s forwards;
		transform: translateX(-100rem);
		transition: 1.4s;
	}
	.icon-git {
		animation: slideIn 1.4s forwards;
		transform: translateX(-100rem);
		transition: 1.4s;
	}
	.icon-face:hover {
		color:crimson;
		transition: 1.4s;
	}
	.icon-insta:hover {
		color:crimson;
		transition: 1.4s;
	}
	.icon-git:hover {
		color:crimson;
		transition: 1.4s;
	}
	.menu-toggle{
		display: block;
	}

	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		margin-top: 5rem;
	}
	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}
	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
	  
  }
  .home-about {
	  margin-bottom: 20px;
  }
}
/* End navbar */
/* section port */
.port {
    border-radius: 50%;
	border: 2px white solid;
	border-top-color: white;
	border-bottom-color: white;
	max-width: 300px;
    animation: slideIn .8s forwards;
	transform: translateX(-100rem);
	transition: 1.4s;
}
.port:hover {
	color: crimson;
	opacity: 0.4;
	transition: 1.4s;
}
.home-para {
    color: white;
	vertical-align: middle;
	font-size: 20px;
	transform: translateX(100rem);
	animation: slideIn .8s forwards;
	transition: 1.4s;

}
.home-para:hover {
	color: crimson;
	transition: 1.4s;
}
.home-about {
	margin-top: 250px;
	z-index: 1;
	margin-bottom: 10px;
}
@media ( max-height: 640px) {
	.home-about {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	}
}
/* section port end */
/* body */
body {
    background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1484417894907-623942c8ee29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80") center no-repeat;
    width: 100%;
	height: 100vh;
	background-size: cover;
	position: relative;
    overflow: hidden;
	z-index: 10;
	padding-bottom: 40px;
}
.margin-top {
	margin-top: 30px;
}
/* body end */
/* footer */
.icon-face {
	animation: slideIn 1s forwards;
	transform: translateX(-100rem);
	transition: 1.4s;
	font-size: 25px;
}
.icon-insta {
	animation: slideIn 1s forwards;
	transform: translateX(-100rem);
	transition: 1.4s;
	font-size: 25px;
}
.icon-git {
	animation: slideIn 1s forwards;
	transform: translateX(-100rem);
	transition: 1.4s;
	font-size: 25px;
}
.icon-face:hover {
	color:crimson;
	transition: 1.4s;
}
.icon-insta:hover {
	color:crimson;
	transition: 1.4s;
}
.icon-git:hover {
	color:crimson;
	transition: 1.4s;
}
.footer-li {
	justify-content: space-around;
}
footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40px;
}
.footer-li {
	margin-left: 10px;
	justify-content: space-around;
}
.Copyrights {
	font-size: 15px;
	transform: translateX(100rem);
	animation: slideIn .8s forwards;
	transition: 1.4s;
}
.Copyrights:hover {
	color:  crimson;
	transition: 1.4s;
}
/* footer end */
/* Works Page Works */
.div-container {
	display: inline-flex;
	flex-direction: column;
	transform: translateX(-100rem);
	animation: slideIn .8s forwards;
	margin-right: 20px;
	margin-bottom: 20px;
}
.div-image {
	max-width: 250px;
}
.main-div {
	flex-wrap: wrap;
	margin-top: 60px;
}
.div-h1 {
	justify-content: center;
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
}
.div-second {
	margin-top: 10px;
	background-color: grey;
}
.div-first {
	background-color: grey;
}
.div-h1 span {
	color: crimson;
}
/* Works page Works */
/* contact me  */
.port-second {
	border-radius: 50%;
	border: 2px white solid;
	border-top-color: white;
	border-bottom-color: white;
	max-width: 300px;
    animation: slideIn .8s forwards;
	transform: translateX(-100rem);
	transition: 1.4s;
	margin: 50px auto;
}
.port-second:hover {
	color: crimson;
	opacity: 0.4;
	transition: 1.4s;
}
.contact-li {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	transition: 1.4s;
	flex-wrap: wrap;
	transform: translateX(100rem);
	animation: slideIn .8s forwards;
	padding: 10px;
	border: 2px solid white;
}
.contact-li:hover {
	border: 6px solid crimson;
	color: crimson;
	transform: 1.4s;
	font-size: 28px;
}
.contact-ul {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}
.contact-sec {
	margin-top: 200px;
}
/* contact me end */