
        <div class="mission container">
            <ul class="float-left ">
                <li class="mission-li-first"><img class="mission-img " src="../../../assets/img/arrow.png" alt="no image"></li>
                <li class="mission-li-second mission-text"> Mission </li>
                <li class="mission-li-third">Diribute HTML Experience </li>    
            </ul>
        <div class="Vision container">
            <ul class="float-left ">
                <li class="Vision-li-first"><img class="Vision-img" src="../../../assets/img/laptop.png" alt="no image"></li>
                <li class="Vision-li-second Vision-text"> Vision </li>
                <li class="Vision-li-third">Diribute HTML Experience </li>    
            </ul>
        <div class="Philosophy container">
            <ul class="float-right " >
                <li class="Philosophy-li-first"><img class="Philosophy-img" src="../../../assets/img/laptop.png" alt="no image"></li>
                <li class="Philosophy-li-second Philosophy-text"> Philosophy </li>
                <li class="Philosophy-li-third">Diribute HTML Experience </li>    
            </ul>
        <div class="clear"></div>
        </div>