.video-secttion{
    background-color: #363E97;
    padding-bottom: 90px;
}
.section-title{
    line-height: 90px;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
}
.section-title a{
    text-transform: lowercase;
}
.video{
    width: 570px;
    height: 320px;
    background-color: #ffffff;
}
.video iframe{
    width: 100%;
    height: 100%;
}

audio, video{
    width: 100%;
}