<section class="video-secttion">
        <div class="container">
            <h1 class="section-title">Videos | <a href="#">view all videos</a></h1>
            <div class="video-block">
                <div class="video float-left">
                    <iframe src="https://www.youtube.com/embed/QVFoI9HNJ34" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="video float-right">
                        <iframe src="https://www.youtube.com/embed/fKopy74weus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </section>