<section class="article-section">
        <h1 class="article-title container">Featured | <a href="javascript:void(0)">view all featured media</a></h1>
        <div class="feature-article-wrapper container">
            <article class="feature-arcile vertical-middle display-inline-block">
                <h2 class="feature-article-title">Responsive Web Design</h2>
                <img class="display-inline-block vertical-top" src="../../../assets/img/finger.png" alt="finger"><!--
                --><p class="display-inline-block vertical-top">approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation.</p>
            </article><!--
            --><article class="feature-arcile vertical-middle display-inline-block">
               <h2 class="feature-article-title">Responsive Web Design</h2>
               <img class="display-inline-block vertical-top" src="../../../assets/img/finger.png" alt="finger"><!--
               --><p class="display-inline-block vertical-top">approach that suggests that design and development should respond to the user's behavior and environment based on screen size, platform and orientation.</p>
           </article>
        </div>
   </section>