<section class="team container">
        <h1 class="team-header">Team</h1>
        <ul class="team-ul">
            <li class="team-one display-inline-block team-margin">
                <img class="team-one-img" src="../../../assets/img/team1_2.png" alt="no image">
                <h1 class="team-one-text name uppercase display-inline-block ">Name  </h1>
                <h1 class="team-one-text surname uppercase display-inline-block">Surname</h1>
            </li>
            <li class="team-two display-inline-block team-margin">
                <img class="team-two-img" src="../../../assets/img/team2.png" alt="no image">
                <h1 class="team-two-img name uppercase display-inline-block">Name  </h1>
                <h1 class="team-one-text surname uppercase display-inline-block">surname</h1>
            </li>
            <li class="team-three display-inline-block team-margin">
                <img class="team-three-img" src="../../../assets/img/team3.png" alt="no image">
                <h1 class="team-three-img name uppercase display-inline-block">name  </h1>
                <h1 class="team-one-text surname uppercase display-inline-block">surname</h1>
            </li>
            <li class="team-four display-inline-block team-margin">
                <img class="team-four-img" src="../../../assets/img/team5_1.png" alt="no image">
                <h1 class="team-four-img name uppercase display-inline-block">name  </h1>
                <h1 class="team-one-text surname uppercase display-inline-block">surname</h1>
            </li>
        </ul>
    </section>