.team-header {
    color: #EE4036;
    font-size: 22pt;
    margin-top: 25px;
    margin-bottom: 50px;
}
.team-margin {
    margin-right: 210px;
    position: relative;
    text-align: center;
    margin-bottom:130px;
}
.team-margin:last-child {
    margin-right:0px;
    position: relative;
    text-align: center;
}
.uppercase {
    text-transform: uppercase;
    
}
.name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
.surname {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(150%, -50%);
    font-weight: bold;
}