<div class="main-div">
  <div class="maindiv first">
    <h1 class="header">Features</h1>
  </div>
  <div class="maindiv second">
      <div class="div first">
        <h1 class="div-header">
          Branding
        </h1>
        <p class="div-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, atque ad excepturi ipsa corporis optio dolorum quaerat nihil cumque rerum consequatur fuga, cupiditate impedit adipisci ipsam nemo nobis delectus! Id.
        </p>
      </div>
      <div class="div first">
        <h1 class="div-header">
          Development
        </h1>
        <p class="div-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, atque ad excepturi ipsa corporis optio dolorum quaerat nihil cumque rerum consequatur fuga, cupiditate impedit adipisci ipsam nemo nobis delectus! Id.
        </p>
      </div>
      <div class="div first">
        <h1 class="div-header">
          Consulting
        </h1>
        <p class="div-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, atque ad excepturi ipsa corporis optio dolorum quaerat nihil cumque rerum consequatur fuga, cupiditate impedit adipisci ipsam nemo nobis delectus! Id.
        </p>
      </div>
  </div>
</div>