<section class="news-section">
        <div class="container">
            <h1 class="section-title">Videos | <a href="#">view all videos</a></h1>
            <div class="article-wrapper clearfix">
                <article class="article float-left">
                    <img src="../../../assets/img/typography.jpg" alt="typography">
                    <h1 class="article-title">Typography Lab</h1>
                </article>
                <article class="article float-left">
                    <img src="../../../assets/img/online_marketing.jpg" alt="Marketing">
                    <h1 class="article-title">Online Marketing</h1>
                </article>
                <article class="article float-left">
                    <img src="../../../assets/img/coding.jpg" alt="coding">
                    <h1 class="article-title">C# coding</h1>
                </article>
                <article class="article float-left">
                    <img src="../../../assets/img/design.jpg" alt="design">
                    <h1 class="article-title">Interface Design</h1>
                </article>
            </div>
        </div>
    </section>