<header class="header container">
    <a href="#" class="logo-wrapper float-left">
            <img src="../../assets/img/logo.svg" class="logo" alt="logo">
        </a>
        <ul class="images-ul">
            <li class=" float-right">
            <a href="#" class="nav-a"><img class="images-search" src="../../assets/img/Search.svg" alt="No Image"></a>
            </li>
            <li class=" float-right">
            <a href="#" class="nav-a"><img class="images" src="../../assets/img/tube.svg" alt="No Image"></a>
            </li>
            <li class=" float-right">
            <a href="#" class="nav-a"><img class="images" src="../../assets/img/book.svg" alt="No Image"></a>
            </li>
            <li class=" float-right">
            <a href="#" class="nav-a"><img class="images" src="../../assets/img/plus.svg" alt="No Image"></a>
            </li>                     
    </ul>
        <nav class="nav">
            <ul class="nav-ul">
                <li class="nav-li vertical-middle display-inline-block">
                    <a href="" routerLink='/' class="nav-a">Home</a>
                </li>
                <li class="nav-li vertical-middle display-inline-block">
                    <a href="" routerLink='/news' class="nav-a">News</a>
                </li>
                <li class="nav-li vertical-middle display-inline-block">
                    <a href="" routerLink="/about" class="nav-a">About</a>
                </li>
                <li class="nav-li vertical-middle display-inline-block">
                    <a href="" routerLink="/contact" class="nav-a">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="clear"></div>
</header>