<div class="conteiner">
 <img class="image" src="https://images.wallpaperscraft.com/image/city_ruins_megacity_3489_1920x1080.jpg" alt="First slide">
 <h1 class="text">
     SOME FUN FACTS
 </h1>
 <div class="main-div">
 <div class="fact-div">
     <i class="fas fa-rocket icon"></i>
     <h1 class="firsth1">3200hrs</h1>
     <h1 class="seocndth1">Work work</h1>
 </div>
 <div class="fact-div">
        <i class="fas fa-user-friends icon"></i>
        <h1 class="firsth1">3200hrs</h1>
        <h1 class="seocndth1">Work work</h1>
 </div>
 <div class="fact-div">
        <i class="fas fa-trophy icon"></i>
        <h1 class="firsth1">3200hrs</h1>
        <h1 class="seocndth1">Work work</h1>
 </div>
 <div class="fact-div">
        <i class="fas fa-clock icon"></i>
        <h1 class="firsth1">3200hrs</h1>
        <h1 class="seocndth1">Work work</h1>
 </div>
 </div>

</div>
