<section class="contact container">
        <div class="contact-first display-inline-block">
            <ul class="contact-ul">
                <li class="first-li">8 Merab Aleksidze Street,</li>
                <li class="second-li">Tbilisi 0160, Georgia</li>
                <li class="third-li">tel.: +332 293 12 23</li>
                <li class="fourth-li">fax.: +332 244 44 44</li>
                <li class="fifth-li">contact@mail.ge</li>
            </ul>
        </div>
        <div class="conteiner">
            <form action="action_page.php float-right">
    
                <label for="fname">Name</label>
                <input type="text" id="fname" name="name" placeholder="....type your name">
    
                <label for="Email">E-Mail</label>
                <input type="text" id="Email" name="Email" placeholder="....type your e-mail">
    
                <label for="Subject">E-Mail</label>
                <input type="text" id="Subject" name="Subject" placeholder="....type the mail subject">
    
                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </form>
        </div>
    </section>