<section id="Home">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">Sarajevo<span>.</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-light"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#Home">Home</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#Features">Features</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#Works">Works</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#Team">Team</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#Contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
</nav>
      
      <div id="carouselExampleIndicators conteiner mrg" class="carousel slide" data-ride="carousel">
            <img class="d-block w-100" src="https://images.wallpaperscraft.com/image/forest_trees_fog_110485_1920x1080.jpg" alt="First slide">
            <div class="abs">
                <div class="first-text ">
                <h1 class="main-h white">
                    Sarajevo<span>.</span>
                </h1>
            </div>
            <div class="second-text ">
                <p class="main-p">
                    <span>/creative</span> one page design
                </p>
            </div>
            <div class="last-text ">
                <p>
                    We are a team of professionals
                </p>
            </div>
            <div class="social-media">
                    <a  href=""><i class="fab fa-facebook social"></i></a>
                    <a  href=""><i class="fab fa-google social"></i></a>
                    <a  href=""><i class="fab fa-twitter social"></i></a>
                    <a  href=""><i class="fab fa-dribbble social"></i></a>
            </div>
        </div>
                      </div>
</section>
